body {
    font-family: 'Satoshi', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
    color: #3d405b;
    border: none;
    padding: none;
}

.logo {
    padding-left: 40px;
}

.nav-elements {
    padding-right: 40px;
}


.navBar {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLink {
    margin: 0 20px 20px;
    text-decoration: none;
    color: #3d405b;
    font-size: 20px;
}

.mainTitle {
    font-size: 45px;
}

.titleText {
    font-size: 45px;
    color: #3d405b;
}

.photo-container {
    height: 80vh;
    display: flex;
    background-color: #4852ED;
    color: whitesmoke;
}

.photo-text {
    background-color: #8FB6F3;
    padding: 10%;
    text-align: start;
    width: 30vw;
    border-bottom-right-radius: 15%;
}

.photo {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#selfPhoto {
    height: 80%;
    border-radius: 50%;
    margin: 20px;
}


.projects-container {
    display: flex;
    justify-content: space-evenly;
}

.projects-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    word-wrap: break-word;
}


.proj-image {
    width: 25vw;
    height: 260px;
    border: 5px solid #4852ED;
    border-radius: 20px;
}


.proj-title {
    padding-top: 20px;
    font-size: 30px;
}

.proj-text {
    word-wrap: break-word;
}

.proj-desc {
    font-size: 20px;
    width: 70%;
    text-align: center;
}

.proj-title span {
    background-color: #4852ED;
    padding: 15px 20px;
    color: whitesmoke;
    border-radius: 20px;
}
